*{
  display: border-box;
}
body,html{
  margin: 0px;
  padding: 0px;
  overflow: auto;
  white-space: nowrap;
}

.introText{
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 4.5vmin;
  width: 100%;
  padding-right: 10px;
}


.mainContainer{
  display: flex;
  align-items:center;
  background-color: black;
}

.imgContainer{
  background-color: black;
}

.imgContainer img{
  height: 80vh;
  padding-top: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  position: relative;
}

.img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80vh;
  padding-top: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 10vh;
}

.transition{
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
  background-color: black;
}

.transition img{
  height: 10vh;
  filter: invert(100);
}

.transition h1{
  color: white;
  font-size: 10vmin;
}

.transition img:hover{
  height:12vh;
  transition-timing-function: ease-in;
}
